/*
 * 全局变量
 */

// 页面背景色
$page-color: #f6f6f6;
//头部底部背景颜色
$header-footer-color:rgba(27, 102, 230,1);
/* 字体相关颜色 */
$color-base: #666;  // 基础色#666
$color-dark: #fff;  // 深色#262626

$color-light: rgba(255, 255, 255, 0.80);  // 浅色
$color-disabled: #C0C4CC;  // 禁用颜色

/* 行为相关颜色 */
$color-primary: rgba(240, 173, 78,1);
$color-primary-h:rgba(240, 173, 78,.2) ; // 鼠标移入颜色#40A9FF
$color-primary-c: #096DD9; // 点击颜色
$color-primary-d: #CAE1F7; // 禁用颜色

$color-success: #4cd964;
$color-warning: #f0ad4e;

$color-error: #FF4D4F;
$color-error-h:#FF7875;
$color-error-c:#F5222D;
$color-error-d:#FFCCC7;

// 边框色
$border-color: #DCDFE6;
